* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    background-image: linear-gradient(180deg, #050650 0%, #1e0227 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fafafa;
}

h6 {
    font-size: 1rem;
    font-weight: 300;
    padding: 3px;
    color: #fafafa;
}

p {
    font-size: 1rem;
    color: #fafafa;
}

main {
    max-width: 100%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgba( 244, 238, 238, 0.15);
    box-shadow: 0px 10px 32px 7px rgba(84, 89, 139, 0.37);
    backdrop-filter: blur( 0.0px);
    -webkit-backdrop-filter: blur( 0.0px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    padding: 1rem;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1.4rem;
}

.perfil img {
    border-radius: 50%;
    box-shadow: 0 8px 32px 0 rgba(147, 152, 223, 0.37);
    width: 100px;
    height: 102px;
}

.icones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.icones a {
    width: 105%;
    border: 1px solid #6f6f6f;
    border-radius: 10px;
    margin-top: 0.5rem;
    padding: 8px;
    color: #fafafa;
    cursor: pointer;
    font-size: 1rem;
    transition:0.5s;
}

.icones a:hover {
    background: #6f6f6f;
    color: black;
}

.icones #facebook,
.icones #linkedin,
.icones #blog,
.icones #instagram,
.icones #gmail {
    padding-top: 5px;
}

.icones i {
    float: left;
    border: 1px solid;
    border-radius: 50px;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.icones .facebook {
    color: #fff;
    background-color: #00068e;
    border-color: #00068e;
    box-shadow: #000239;
    box-shadow: inset 1px 1px 32px 0 rgba(6, 14, 121, 0.37);
}

.icones .instagram {
    background: linear-gradient(#8a3ab9, #e95950, #bc2a8d);
    color: #fff;
    border-color: #bc2a8d;
}

.icones .linkedin {
    color: #fff;
    background-color: #0e76a8;
    border-color: #0e76a8;
    box-shadow: inset 1px 1px 32px 0 rgba(4, 6, 41, 0.37);
}

.icones .blog {
    color: #fff;
    background-color: #f57d00;
    border-color: #f57d00;
}

.icones .gmail {
    color: #fff;
    background-color: #9c2123;
    border-color: #9c2123;
    box-shadow: inset 1px 1px 32px 0 rgba(143, 8, 15, 0.253);
}

.icones .github {
    color: #fff;
    background-color: #111;
    border-color: #111;
}
