* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    background-color: #5d14bbd2;
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fafafa;
}

h6 {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 3px;
    color: #fafafa;
}

p {
    font-size: 1rem;
    color: #fafafa;
}

main {
    max-width: 100%;
    height: auto;
    padding: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 1rem;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 1.2rem;
}

.perfil img {
    border-radius: 50%;
    box-shadow: 0 8px 32px 0 rgba(147, 152, 223, 0.37);
    width: 102px;
    height: 102px;
}

.icones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}

.icones a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 50px;
    border: 1px solid #fafafa;
    border-radius: 5px;
    margin-bottom: 0.7rem;
    padding: 10px;
    color: #fafafa;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.5s;
}

.icones i {
    padding-right: 20px;
}

.icones .facebook:hover {
    color: #fff;
    background-color: #00068e;
    border-color: #00068e;
    box-shadow: #000239;
    box-shadow: inset 1px 1px 32px 0 rgba(6, 14, 121, 0.37);
}

.icones .instagram:hover {
    background: #bc2a8d;
    color: #fff;
    border-color: #bc2a8d;
}

.icones .linkedin:hover {
    color: #fff;
    background-color: #0e76a8;
    border-color: #0e76a8;
    box-shadow: inset 1px 1px 32px 0 rgba(4, 6, 41, 0.37);
}

.icones .gmail {
    padding-right: 25px;
}

.icones .gmail:hover {
    color: #fff;
    background-color: #9c2123;
    border-color: #9c2123;
    box-shadow: inset 1px 1px 32px 0 rgba(143, 8, 15, 0.253);
}

.icones .github:hover {
    color: #fff;
    background-color: #111;
    border-color: #111;
}

.icones .web:hover {
    color: #fff;
    background-color: #5151EC;
    border-color: #5151EC;
}